.footer {
  background-color: #9c27b0;
  padding: 10px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style the copyright notice */
.footer .copyright {
  font-size: 0.9rem;
  margin-top: 10px;
}

.menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu i {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  margin: 0 10px;
  transition: color 0.3s;
}
