<form (ngSubmit)="handleSearch()" #orderForm="ngForm">
    <!-- <mat-form-field> -->
      <input matInput placeholder="Search by Name" [(ngModel)]="search" name="search">
    <!-- </mat-form-field> -->
    <button mat-raised-button color="primary" type="submit" [disabled]="!orderForm.valid">Submit</button>
  </form>
<div class="orders-page">
    <h4>Orders</h4>
    <ng-container *ngIf="orders.length === 0; else ordersList">
      <p>No orders available</p>
    </ng-container>
    <ng-template #ordersList>
      <ul class="order-list">
        <li *ngFor="let order of orders" class="order-item">
          <div class="order-details">
            <span class="order-id">Order ID: {{ order.orderId }}</span>
            <ul class="flower-list">
              <li *ngFor="let flower of order.flowers" class="flower-item">
                <div class="flower-info">
                  <p>{{ flower.name }}</p>
                  <p>Quantity: {{ flower.quantity }}</p>
                  <p>Price: ${{ flower.price }}</p>
                </div>
              </li>
            </ul>
            <p class="status-column">Status: {{ order.status }}</p>
            <p class="status-column">Order Total: ${{ calculateTotalPrice(order.flowers) }}</p>
          </div>
          <div class="actions">
            <button
              *ngIf="order.status !== 'Complete' && order.status !== 'Cancelled'"
              class="cancel-button"
              (click)="handleCancel(order._id)"
            >
              Cancel Order
            </button>
            <button
              *ngIf="order.status === 'Complete' || order.status === 'Cancelled'"
              class="remove-button"
              (click)="handleRemove(order._id)"
            >
              Remove Order
            </button>
          </div>
        </li>
      </ul>
    </ng-template>
    <!-- <mat-snackbar *ngIf="snackbarOpen" [duration]="3000" (afterDismissed)="snackbarOpen = false">
      Order Update Success
    </mat-snackbar> -->
  </div>
  
