<form
  (ngSubmit)="handleSearch()"
  *ngIf="orders.length > 0; else ordersList"
  #orderForm="ngForm"
>
  <div style="float: right">
    <input
      matInput
      class="searchInput"
      placeholder="Search by Name"
      [(ngModel)]="search"
      name="search"
    />
    <button
      mat-raised-button
      class="searchBtn"
      color="primary"
      type="submit"
      [disabled]="!orderForm.valid"
    >
      Search
    </button>
  </div>
</form>

<div class="orders-page">
  <h2 style="text-align: center">Orders</h2>
  <ng-container *ngIf="orders.length === 0; else ordersList">
    <p style="text-align: center">No orders available</p>
  </ng-container>
  <ng-template #ordersList>
    <ul class="order-list">
      <li *ngFor="let order of orders" class="order-item">
        <div class="order-details">
          <span class="order-id"
            ><b>Order ID: {{ order.orderId }}</b></span
          >
          <ul class="flower-list">
            <li *ngFor="let flower of order.flowers" class="flower-item">
              <div class="flower-info">
                <p>{{ flower.name }}</p>
                <p>Quantity: {{ flower.quantity }}</p>
                <p>Price: ${{ flower.price }}</p>
              </div>
            </li>
          </ul>
          <p class="status-column">
            Status:
            <b [style.color]="order.status === 'Pending' ? 'blue' : 'red'">{{
              order.status
            }}</b>
          </p>
          <p class="status-column">
            <b>Order Total: ${{ calculateTotalPrice(order.flowers) }}</b>
          </p>
        </div>
        <div class="actions">
          <button
            *ngIf="order.status !== 'Complete' && order.status !== 'Cancelled'"
            class="cancel-button"
            (click)="handleCancel(order._id)"
          >
            Cancel Order
          </button>
          <button
            *ngIf="order.status === 'Complete' || order.status === 'Cancelled'"
            class="remove-button"
            (click)="handleRemove(order._id)"
          >
            Remove Order
          </button>
        </div>
      </li>
    </ul>
  </ng-template>
  <!-- <mat-snackbar *ngIf="snackbarOpen" [duration]="3000" (afterDismissed)="snackbarOpen = false">
      Order Update Success
    </mat-snackbar> -->
</div>
