<!-- login.component.html -->
<div class="login-container">
    <div class="avatar-container">
      <mat-icon class="avatar-icon">account_circle</mat-icon>
    </div>
    <h1 class="login-header">Sign In to Petal Express</h1>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="login-form" novalidate>
      <div class="form-field">
        <mat-form-field class="custom-form-field">
          <mat-label>Email Address</mat-label>
          <input matInput type="email" placeholder="Email Address" name="email" [(ngModel)]="formData.email" required>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field class="custom-form-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="formData.password" required>
        </mat-form-field>
      </div>
  
      <!-- Display registration success message if the user is redirected to the login page after successful registration -->
      <div *ngIf="isJustRegistered" class="success-msg">
        Registration Successful!
      </div>
      <!-- Display login error message -->
      <div *ngIf="loginError" class="error-msg">
        {{ loginError }}
      </div>
      <button type="submit" class="login-btn custom-button" [disabled]="!loginForm.form.valid">
        Sign In
      </button>
    </form>
    <p>
      <!-- Use Angular routerLink to navigate to the registration page -->
      <a routerLink="/register">Register</a>
    </p>
  </div>
  